.OneCategorie {
  margin-bottom: 200px;
}

.ChosenStateUS select {
  width: 300px;
  font-size: 18px;
  height: 35px;
  padding-left: 10px;
  background-color: #f1f1f1;
  color: rgb(19, 19, 19);
}

.ChosenStateUS option:focus {
  background-color: rgb(75, 78, 78);
}

.Placeholder {
  color: rgb(110, 110, 110);
}
