.BtnAddCard {
  color: #ffffff;
  background: #3d6a66;
  border: 1px solid #3d6a66;
  margin: 35px auto;

  width: 300px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  height: 40px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.BtnAddCard:hover {
  border: 0 solid #ccc;
  padding: 1px 1px;
  box-shadow: 0px 9px 10px -4px #ccc;
  background: #f1f1f1;
  height: 40px;
  color: #3d6a66;
  font-weight: 900;
}

@media screen and (max-width: 820px) {
  .BtnAddCard {
    margin-top: 20px;
    margin-left: 5px;
    width: 50%;
    height: 50px;
  }
}
