.Cards {
  display: flex;
  flex-direction: row;
}

.Cards a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 820px) {
  .Cards {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.DisplayCards {
  display: block;
}
